/* /Components/Development.razor.rz.scp.css */
h3[b-unbgdd091i] {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.7);
    font-family: Garamond, serif;
    margin-bottom:50px;
}
.circle[b-unbgdd091i] {
    width: 200px; /* Set the width and height to create a perfect circle */
    height: 200px;
    border-radius: 50%; /* Make the element round */
    background-color: black; /* Set the background color to black */
    border: 4px solid white; /* Add a 4px wide white border */
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Add a shiny red shadow */
    margin-bottom: 20px;
}

.arrow[b-unbgdd091i] {
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.7);
    text-align: center;
    margin-bottom: 20px;
}
.circle-text[b-unbgdd091i] {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.7);
    text-align: center;
    font-family: Garamond, serif;
    font-size: 20px;
    font-weight: bold;
}

/* /Components/Introduction.razor.rz.scp.css */
.fw-bolder[b-33c4i8ti53] {
    color: #ffffff;
    font-family: Garamond, serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
    white-space: nowrap;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.7);
}
.fw-normal[b-33c4i8ti53] {
    color: #ffffff;
    font-family: Garamond, serif;
    font-size: 20px;
    margin-top: 30px;
}

#jobDescription[b-33c4i8ti53] {
    white-space: pre-line;
}


/* /Pages/Blog.razor.rz.scp.css */
.container center-card[b-y3cgspctpa] {
    background-color: #000000;
    font-family: Garamond, serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}
#card[b-y3cgspctpa] {
    border: 2px solid #ccc; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    
}

h3[b-y3cgspctpa]{
    text-align : center;
}
/* /Pages/Contact.razor.rz.scp.css */
h3[b-s3cx7mm3ql] {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.7);
    font-family: Garamond, serif;
    margin-bottom: 100px;
}
.img-fluid[b-s3cx7mm3ql] {
    width: 100px;
    height: auto;
}
/* /Pages/Index.razor.rz.scp.css */
img[b-n8s77mfq06]{
    margin-left: 100px;
    height: auto;
    width: 1500px;
}
/* /Pages/Projects.razor.rz.scp.css */
.container center-card[b-hwq2rngvub] {
    background-color: #000000;
    font-family: Garamond, serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card[b-hwq2rngvub] {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3[b-hwq2rngvub] {
    text-align: center;
}
/* /Pages/Skills.razor.rz.scp.css */
img[b-n3h2co3jz9]{
    width:100px;
    height:auto;
}

h3[b-n3h2co3jz9] {
    text-align :center;
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.7);
    font-family: Garamond, serif;
    margin-bottom: 50px;
}

.image-container[b-n3h2co3jz9] {
    position: relative;
    display: inline-block;
}

.overlay-text[b-n3h2co3jz9] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    transition: opacity 0.3s;
}

.image-container:hover .overlay-text[b-n3h2co3jz9] {
    opacity: 1;
}
/* /Shared/MainLayout.razor.rz.scp.css */



/* /Shared/Navbar.razor.rz.scp.css */
.nav-item[b-mldhp19g3m]  a {
    color: rgb(255, 255, 255);
    font-family: Garamond, serif;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.7);
    margin-right: 25px;
    transition: color 0.3s, transform 0.3s;
}

    .nav-item[b-mldhp19g3m]  a:hover {
        color: rgb(255, 255, 255); 
        text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5); 
        transform: scale(1.1); 
        border-color: red; 
    }

    .nav-item[b-mldhp19g3m]  a.active {
        transform: scale(1.3);
        text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
        color: red;
    }

