@page "/blog"

<h3>Have a look on my articles......</h3>
<br />
<div class="container center-card mb-3" id="card" style="max-width: 1000px;">
	<div class="row g-0">
		<div class="col-md-4">
			<img src="/logo.png" class="img-fluid rounded-start" alt="...">
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h4 class="card-title">Understanding OOPS concepts</h4>
				<h5 class="card-subtitle mb-2 text-body-secondary">26/03/2023</h5>
				<p class="card-text">OOPs stands for Object-Oriented Programming. It is a programming paradigm that focuses on the use of objects to represent and manipulate data.</p>
				<a href="https://medium.com/%40CodewithChetan/understanding-object-oriented-programming-oop-concepts-b5fe25d70b0" target="_blank"  class="btn btn-danger">Read article</a>
			</div>
		</div>
	</div>
</div>
<div class="container center-card mb-3" id="card" style="max-width: 1000px;">
	<div class="row g-0">
		<div class="col-md-4">
			<img src="/logo.png" class="img-fluid rounded-start" alt="...">
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h4 class="card-title">Interface and Abstract Class</h4>
				<h5 class="card-subtitle mb-2 text-body-secondary">27/03/2023</h5>
				<p class="card-text">Interfaces and abstract classes are two key features of object-oriented programming in Java and C# that allow for abstraction and polymorphism.</p>
				<a href="https://medium.com/%40CodewithChetan/interface-and-abstract-class-12b1a95fc128" target="_blank" class="btn btn-danger">Read article</a>
			</div>
		</div>
	</div>
</div>
<div class="container center-card mb-3" id="card" style="max-width: 1000px;">
	<div class="row g-0">
		<div class="col-md-4">
			<img src="/logo.png" class="img-fluid rounded-start" alt="...">
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h4 class="card-title">Solid Principles</h4>
				<h5 class="card-subtitle mb-2 text-body-secondary">01/04/2023</h5>
				<p class="card-text">
					SOLID principles are design principles for software development that help developers to write code that is maintainable, scalable, and easy to understand.
				</p>
				<a href="https://medium.com/%40CodewithChetan/solid-principles-838d615bfa1a" target="_blank" class="btn btn-danger">Read article</a>
			</div>
		</div>
	</div>
</div>
<div class="container center-card mb-3" id="card" style="max-width: 1000px;">
	<div class="row g-0">
		<div class="col-md-4">
			<img src="/logo.png" class="img-fluid rounded-start" alt="...">
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h4 class="card-title">Dependency Injection</h4>
				<h5 class="card-subtitle mb-2 text-body-secondary">03/04/2023</h5>
				<p class="card-text">Dependency Injection (DI) is a design pattern used to provide objects with their dependencies, rather than having them create the dependencies themselves.
					DI helps to decouple classes and improve code reusability and testability.</p>
				<a href="https://medium.com/%40CodewithChetan/dependency-injection-in-c-and-java-18bd4065601" target="_blank" class="btn btn-danger">Read article</a>
			</div>
		</div>
	</div>
</div>
<div class="container center-card mb-3" id="card" style="max-width: 1000px;">
	<div class="row g-0">
		<div class="col-md-4">
			<img src="/logo.png" class="img-fluid rounded-start" alt="...">
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h4 class="card-title">DRY Principle</h4>
				<h5 class="card-subtitle mb-2 text-body-secondary">05/04/2023</h5>
				<p class="card-text">The DRY (Don't Repeat Yourself) principle is a software development best practice 
					that emphasizes the importance of reducing redundancy and improving maintainability by avoiding repetition of code or logic.</p>
				<a href="https://medium.com/%40CodewithChetan/dont-repeat-yourself-dry-principle-e9ecca5a44f7" target="_blank" class="btn btn-danger">Read article</a>
			</div>
		</div>
	</div>
</div
<div class="container center-card mb-3" id="card" style="max-width: 1000px;">
	<div class="row g-0">
		<div class="col-md-4">
			<img src="/logo.png" class="img-fluid rounded-start" alt="...">
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h4 class="card-title">Singletone Design Patterns</h4>
				<h5 class="card-subtitle mb-2 text-body-secondary">07/04/2023</h5>
				<p class="card-text">The Singleton design pattern is a creational pattern in Object-Oriented Programming (OOP)
					that restricts the instantiation of a class to a single instance and provides a global point of access to that 
					instance throughout the application. This pattern ensures that only one object of a particular class is created 
					and that it can be easily accessed and shared by other objects..</p>
				<a href="https://medium.com/%40CodewithChetan/design-pattern-singleton-a21b0e6376f9" target="_blank" class="btn btn-danger">Read article</a>
			</div>
		</div>
	</div>
</div>

@code {

}
