@page "/contact"
<h3>Connect with me</h3>

<div class="container">
	<div class="row">
		<div class="col">
			<a href="mailto:chetanbadgujar1203@gmail.com">
			<img src="/contact logo/Gmail.webp" alt="Gmail" class="img-fluid">
			</a>
		</div>	
		<div class="col">
			<a href="https://www.linkedin.com/in/chetan-badgujar-b9a65615a" target="_blank">
			<img src="/contact logo/LI.png" alt="LinkedIn" class="img-fluid" />
			</a>
		</div>
		<div class="col">
			<a href="https://github.com/Chetan-1203" target="_blank">
			<img src="/contact logo/GitHub-Mark.png" alt="Github" class="img-fluid">
			</a>
		</div>
		<div class="col">
			<a href="https://twitter.com/CodewithChetan" target="_blank">
			<img src="/contact logo/X.webp" alt="X" class="img-fluid">
			</a>
		</div>
	</div>
</div>

@code {

}
