@page "/"
<div class="container">
  <div class="row">
    <div class="col-7">
      <Introduction></Introduction>
    </div>
    <div class="col">
       <img src="/programmer.jpg" class="img-fluid" alt="image">
    </div>
  </div>
 </div>