@page "/projects"
<h3 style="text-align:center">Projects</h3>
<div class="container center-card mb-3" id="card" style="max-width: 1000px">
	<div class="row g-0">
		<div class="col-md-4">
			<img src="/logo.png" class="img-fluid rounded-start" alt="...">
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h4 class="card-title">URL shortener</h4>
				<p class="card-text">
					A simple and efficient URL shortening service that converts long URLs into short, shareable links.
					<br/>
					Skills Used: C#, NoSQL, API Development
				</p>
				<a href="https://github.com/Chetan-1203/UrlShortner" target="_blank" class="btn btn-danger">View</a>
			</div>
		</div>
	</div>
</div>
@code {

}
