@page "/skills"
<Development></Development>
<br/>

<h3>My Skills</h3>
<br />

<div class="container">
    <div class="row">
        <div class="col">
            <div class="image-container">
            <img src="/skills/NETlogo.png" alt=".NET" class="img-fluid">
            <div class="overlay-text">Dotnet</div>
            </div>
        </div>
        <div class="col">
            <div class="image-container">
                <img src="/skills/CsharpLogo.svg" alt="C sharp" class="img-fluid">
                <div class="overlay-text">C sharp</div>
            </div>
        </div>
        <div class="col">
            <div class="image-container">
                <img src="/Skills/blazor logo.svg" alt="blazor" class="img-fluid">
                <div class="overlay-text">Blazor</div>
            </div>
        </div>
        <div class="col">
            <div class="image-container">
                <img src="/skills/rest api logo.png" alt="REST" class="img-fluid">
                <div class="overlay-text">REST</div>
            </div>
        </div>
        <div class="col">
            <div class="image-container">
                <img src="/skills/mongodblogo.jpg" alt="MongoDB" class="img-fluid">
                <div class="overlay-text">MongoDB</div>
            </div>
        </div>
    </div>
    <br/>
    <br />
    <div class="row">
        <div class="col">
            <div class="image-container">
                <img src="/skills/html logo.png" alt="html" class="img-fluid">
                <div class="overlay-text">HTML</div>
            </div>
        </div>
        <div class="col">
            <div class="image-container">
                <img src="/skills/css.png" alt="Css" class="img-fluid">
                <div class="overlay-text">CSS</div>
            </div>
        </div>
        <div class="col">
            <div class="image-container">
                <img src="/skills/js.png" alt="JS" class="img-fluid">
                <div class="overlay-text">Javascript</div>
            </div>
        </div>
        <div class="col">
            <div class="image-container">
                <img src="/skills/bootstrap logo.png" alt="bootstrap" class="img-fluid">
                <div class="overlay-text">Bootstrap</div>
            </div>
        </div>
        <div class="col">
            <div class="image-container">
                <img src="/skills/dockerlogo.png" alt="docker" class="img-fluid">
                <div class="overlay-text">Docker</div>
            </div>
        </div>
    </div>
</div>



@code {

}
